# Truncation Nation - Flight Data

In [12]:
import pandas as pd

# Reading Data
traffic = pd.read_csv('data/daily_traffic_variation.csv', parse_dates = True)
traffic.head()

# Irish Flight Data
# for row in range(len(traffic)):
#   print(row)

traffic

,Entity,Week,Day 2020,Flights 2019,Flights 2020,Daily Variation (Traffic),7-day moving average Flights 2020,Weekly Moving Average (Traffic),Number,Day 2019
0,Albania,9,2020-03-01,67,61,"-0,09","61,71428571","0,02612826603",35,2019-03-03
1,Albania,10,2020-03-02,65,72,"0,108",62,"0,03087885986",36,2019-03-04
2,Albania,10,2020-03-03,51,55,"0,078","62,28571429","0,0380952381",37,2019-03-05
3,Albania,10,2020-03-04,53,53,0,"61,57142857","0,03855421687",38,2019-03-06
4,Albania,10,2020-03-05,67,69,"0,03","61,14285714","0,02637889688",39,2019-03-07
...,...,...,...,...,...,...,...,...,...,...
12469,-Total Network Manager Area,51,2020-12-18,30273,15114,"-0,5007432365","11212,42857","-0,5877848563",327,2019-12-20
12470,-Total Network Manager Area,51,2020-12-19,25374,12153,"-0,5210451643","11782,14286","-0,5730488891",328,2019-12-21
12471,-Total Network Manager Area,51,2020-12-20,26455,12409,"-0,5309393309","12204,71429","-0,5590441044",329,2019-12-22
12472,-Total Network Manager Area,52,2020-12-21,26906,12563,"-0,5330781238","12429,28571","-0,5476570502",330,2019-12-23
12473,-Total Network Manager Area,52,2020-12-22,19556,11694,"-0,402024954","12616,14286","-0,5242166624",331,2019-12-24