# Truncation Nation - Flight Data

In [24]:
import pandas as pd

# Reading Data
traffic = pd.read_csv('data/daily_traffic_variation.csv', index_col="Day 2020", parse_dates = True)
# traffic.head()

# Irish Flight Data
start_found = False
end_found = False
for row in range(len(traffic)):
    if (traffic.iloc[row]['Entity'] == 'Ireland' and not start_found):
        start = row
        start_found = True
    if (traffic.iloc[row]['Entity'] == 'Ireland' and traffic.iloc[row + 1]['Entity'] != 'Ireland' and not end_found):
        end = row
        end_found = True

irish_flights = traffic.iloc[start:end + 1]
irish_flights

,Entity,Week,Flights 2019,Flights 2020,Daily Variation (Traffic),7-day moving average Flights 2020,Weekly Moving Average (Traffic),Number,Day 2019
Day 2020,,,,,,,,,
2020-03-01,Ireland,9,668,747,"0,118",693,"-0,007366482505",35,2019-03-03
2020-03-02,Ireland,10,765,762,"-0,004",694,"-0,002464065708",36,2019-03-04
2020-03-03,Ireland,10,621,645,"0,039","696,8571429","0,008267879289",37,2019-03-05
2020-03-04,Ireland,10,648,648,0,"698,1428571","0,01180124224",38,2019-03-06
2020-03-05,Ireland,10,732,708,"-0,033","697,5714286","0,01118243943",39,2019-03-07
...,...,...,...,...,...,...,...,...,...
2020-12-18,Ireland,51,828,315,"-0,62","182,8571429","-0,7424547284",327,2019-12-20
2020-12-19,Ireland,51,700,250,"-0,643","199,8571429","-0,7253631724",328,2019-12-21
2020-12-20,Ireland,51,765,266,"-0,652","215,2857143","-0,7057215388",329,2019-12-22
2020-12-21,Ireland,52,783,202,"-0,742","219,5714286","-0,7005649718",330,2019-12-23
2020-12-22,Ireland,52,514,184,"-0,642","224,7142857","-0,6875868918",331,2019-12-24

In [25]:
del irish_flights["Flights 2019"]
del irish_flights["Entity"]
del irish_flights["Daily Variation (Traffic)"]
del irish_flights["Week"]
del irish_flights["Weekly Moving Average (Traffic)"]
del irish_flights["Number"]
del irish_flights["Day 2019"]

irish_flights

            Flights 2020 7-day moving average Flights 2020
Day 2020
2020-03-01           747                               693
2020-03-02           762                               694
2020-03-03           645                       696,8571429
2020-03-04           648                       698,1428571
2020-03-05           708                       697,5714286
...                  ...                               ...
2020-12-18           315                       182,8571429
2020-12-19           250                       199,8571429
2020-12-20           266                       215,2857143
2020-12-21           202                       219,5714286
2020-12-22           184                       224,7142857

[297 rows x 2 columns]