# Truncation Nation - Hack4Change

In [1]:
import pandas as pd

# Air Traffic Data
air_traffic = pd.read_csv('data/cleaned/irish_flights.csv', parse_dates = True)
air_traffic

# Covid Cases Data
covid_cases = pd.read_csv('data/cleaned/covid_stats.csv', parse_dates = True)
covid_cases

,Unnamed: 0,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,HospitalisedCovidCases,TravelAbroad
0,2020-02-29,1,1,0,0,NaN,NaN
1,2020-03-03,1,2,0,0,NaN,NaN
2,2020-03-04,4,6,0,0,NaN,NaN
3,2020-03-05,7,13,0,0,NaN,NaN
4,2020-03-06,5,18,0,0,NaN,NaN
...,...,...,...,...,...,...,...
299,2020-12-26,1296,85394,6,2200,5837.0,1.0
300,2020-12-27,744,86129,4,2204,5840.0,1.0
301,2020-12-28,765,86894,1,2205,5873.0,1.0
302,2020-12-29,1546,88439,9,2213,5898.0,1.0
303,2020-12-30,1718,90157,13,2226,5932.0,1.0