# Truncation Nation - Hack4Change

In [4]:
import pandas as pd

# Air Traffic Data
air_traffic = pd.read_csv('data/cleaned/irish_flights.csv', parse_dates = True)
air_traffic

       Day 2020  Flights 2020 7-day moving average Flights 2020
0    2020-03-01           747                               693
1    2020-03-02           762                               694
2    2020-03-03           645                       696,8571429
3    2020-03-04           648                       698,1428571
4    2020-03-05           708                       697,5714286
..          ...           ...                               ...
292  2020-12-18           315                       182,8571429
293  2020-12-19           250                       199,8571429
294  2020-12-20           266                       215,2857143
295  2020-12-21           202                       219,5714286
296  2020-12-22           184                       224,7142857

[297 rows x 3 columns]