In [1]:
import pandas as pd

In [5]:
covid_stats = pd.read_csv('CovidStatisticsProfileHPSCIrelandOpenData.csv', index_col = 'Date', parse_dates = True)
covid_stats.head()

,X,Y,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,RequiringICUCovidCases,...,Aged25to34,Aged35to44,Aged45to54,Aged55to64,Aged65up,Median_Age,CommunityTransmission,CloseContact,TravelAbroad,FID
Date,,,,,,,,,,,,,,,,,,,,,
2020-02-29 00:00:00+00:00,-856335.869598,7.036492e+06,1,1,0,0,2020/02/27 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2020-03-03 00:00:00+00:00,-856335.869598,7.036492e+06,1,2,0,0,2020/03/01 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2020-03-04 00:00:00+00:00,-856335.869598,7.036492e+06,4,6,0,0,2020/03/02 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2020-03-05 00:00:00+00:00,-856335.869598,7.036492e+06,7,13,0,0,2020/03/03 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2020-03-06 00:00:00+00:00,-856335.869598,7.036492e+06,5,18,0,0,2020/03/04 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5