In [1]:
import pandas as pd

In [2]:
covid_stats = pd.read_csv('data/CovidStatisticsProfileHPSCIrelandOpenData.csv', index_col = 'Date', parse_dates = True)
covid_stats.head()

,X,Y,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,RequiringICUCovidCases,...,Aged25to34,Aged35to44,Aged45to54,Aged55to64,Aged65up,Median_Age,CommunityTransmission,CloseContact,TravelAbroad,FID
Date,,,,,,,,,,,,,,,,,,,,,
2020-02-29 00:00:00+00:00,-856335.869598,7.036492e+06,1,1,0,0,2020/02/27 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2020-03-03 00:00:00+00:00,-856335.869598,7.036492e+06,1,2,0,0,2020/03/01 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2020-03-04 00:00:00+00:00,-856335.869598,7.036492e+06,4,6,0,0,2020/03/02 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2020-03-05 00:00:00+00:00,-856335.869598,7.036492e+06,7,13,0,0,2020/03/03 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2020-03-06 00:00:00+00:00,-856335.869598,7.036492e+06,5,18,0,0,2020/03/04 00:00:00+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [3]:
del covid_stats['X']

In [4]:
del covid_stats['Y']

In [5]:
del covid_stats['Aged1to4']
del covid_stats['Aged5to14']
del covid_stats['Aged15to24']
del covid_stats['Aged25to34']
del covid_stats['Aged35to44']
del covid_stats['Aged45to54']
del covid_stats['Aged55to64']
del covid_stats['Aged65up']
del covid_stats['Median_Age']

In [6]:
covid_stats.head()

,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,RequiringICUCovidCases,HealthcareWorkersCovidCases,ClustersNotified,...,HospitalisedAged55to64,HospitalisedAged65up,Male,Female,Unknown,Aged1,CommunityTransmission,CloseContact,TravelAbroad,FID
Date,,,,,,,,,,,,,,,,,,,,,
2020-02-29 00:00:00+00:00,1,1,0,0,2020/02/27 00:00:00+00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2020-03-03 00:00:00+00:00,1,2,0,0,2020/03/01 00:00:00+00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2020-03-04 00:00:00+00:00,4,6,0,0,2020/03/02 00:00:00+00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2020-03-05 00:00:00+00:00,7,13,0,0,2020/03/03 00:00:00+00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2020-03-06 00:00:00+00:00,5,18,0,0,2020/03/04 00:00:00+00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [7]:
pd.set_option('display.max_columns', None)
covid_stats.head(20)

,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,RequiringICUCovidCases,HealthcareWorkersCovidCases,ClustersNotified,HospitalisedAged5,HospitalisedAged5to14,HospitalisedAged15to24,HospitalisedAged25to34,HospitalisedAged35to44,HospitalisedAged45to54,HospitalisedAged55to64,HospitalisedAged65up,Male,Female,Unknown,Aged1,CommunityTransmission,CloseContact,TravelAbroad,FID
Date,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-02-29 00:00:00+00:00,1,1,0,0,2020/02/27 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2020-03-03 00:00:00+00:00,1,2,0,0,2020/03/01 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2020-03-04 00:00:00+00:00,4,6,0,0,2020/03/02 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2020-03-05 00:00:00+00:00,7,13,0,0,2020/03/03 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2020-03-06 00:00:00+00:00,5,18,0,0,2020/03/04 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2020-03-07 00:00:00+00:00,1,19,0,0,2020/03/05 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
2020-03-08 00:00:00+00:00,2,21,0,0,2020/03/06 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
2020-03-09 00:00:00+00:00,3,24,0,0,2020/03/07 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
2020-03-10 00:00:00+00:00,10,34,0,0,2020/03/08 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2020-03-11 00:00:00+00:00,9,43,1,1,2020/03/09 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
2020-03-12 00:00:00+00:00,27,70,0,1,2020/03/10 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
2020-03-13 00:00:00+00:00,20,90,0,1,2020/03/11 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
2020-03-14 00:00:00+00:00,39,129,1,2,2020/03/12 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2020-03-15 00:00:00+00:00,40,169,0,2,2020/03/13 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
2020-03-16 00:00:00+00:00,54,223,0,2,2020/03/14 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
2020-03-17 00:00:00+00:00,69,292,0,2,2020/03/15 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
2020-03-18 00:00:00+00:00,74,366,0,2,2020/03/16 00:00:00+00,271.0,84.0,6.0,59.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,27.0,21.0,52.0,17
2020-03-19 00:00:00+00:00,191,557,1,3,2020/03/17 00:00:00+00,350.0,108.0,7.0,84.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,35.0,21.0,43.0,18
2020-03-20 00:00:00+00:00,126,683,0,3,2020/03/18 00:00:00+00,438.0,140.0,12.0,114.0,27.0,1.0,2.0,9.0,16.0,15.0,11.0,23.0,31.0,241.0,189.0,7.0,1.0,40.0,21.0,39.0,19
2020-03-21 00:00:00+00:00,102,785,0,3,2020/03/19 00:00:00+00,584.0,173.0,13.0,147.0,29.0,2.0,1.0,9.0,24.0,18.0,28.0,31.0,60.0,320.0,257.0,7.0,2.0,42.0,23.0,35.0,20

In [8]:
covid_stats.iloc[:, [7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25]]

,RequiringICUCovidCases,HealthcareWorkersCovidCases,ClustersNotified,HospitalisedAged5,HospitalisedAged5to14,HospitalisedAged15to24,HospitalisedAged25to34,HospitalisedAged35to44,HospitalisedAged45to54,HospitalisedAged55to64,HospitalisedAged65up,Male,Female,Unknown,Aged1,CommunityTransmission,CloseContact,FID
Date,,,,,,,,,,,,,,,,,,
2020-02-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2020-03-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2020-03-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2020-03-05 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2020-03-06 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-26 00:00:00+00:00,669.0,13279.0,10599.0,59.0,60.0,213.0,369.0,462.0,722.0,840.0,3110.0,39783.0,44242.0,67.0,1343.0,31.0,66.0,300
2020-12-27 00:00:00+00:00,664.0,13273.0,10599.0,59.0,60.0,213.0,367.0,463.0,724.0,840.0,3112.0,40445.0,44864.0,76.0,1378.0,31.0,65.0,301
2020-12-28 00:00:00+00:00,666.0,13284.0,10610.0,59.0,60.0,214.0,369.0,465.0,727.0,842.0,3135.0,40835.0,45222.0,72.0,1395.0,31.0,65.0,302
2020-12-29 00:00:00+00:00,666.0,13290.0,10615.0,60.0,61.0,215.0,373.0,465.0,729.0,844.0,3149.0,41237.0,45579.0,77.0,1429.0,32.0,64.0,303
2020-12-30 00:00:00+00:00,671.0,13316.0,10623.0,60.0,63.0,217.0,375.0,468.0,739.0,846.0,3162.0,41998.0,46373.0,68.0,1468.0,32.0,63.0,304

In [9]:
covid_stats.drop(covid_stats.columns[[7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25]], axis = 1, inplace = True)
covid_stats.head()

,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,TravelAbroad
Date,,,,,,,,
2020-02-29 00:00:00+00:00,1,1,0,0,2020/02/27 00:00:00+00,NaN,NaN,NaN
2020-03-03 00:00:00+00:00,1,2,0,0,2020/03/01 00:00:00+00,NaN,NaN,NaN
2020-03-04 00:00:00+00:00,4,6,0,0,2020/03/02 00:00:00+00,NaN,NaN,NaN
2020-03-05 00:00:00+00:00,7,13,0,0,2020/03/03 00:00:00+00,NaN,NaN,NaN
2020-03-06 00:00:00+00:00,5,18,0,0,2020/03/04 00:00:00+00,NaN,NaN,NaN

In [10]:
covid_stats.iloc[:, [4, 5]]

                            StatisticsProfileDate  CovidCasesConfirmed
Date
2020-02-29 00:00:00+00:00  2020/02/27 00:00:00+00                  NaN
2020-03-03 00:00:00+00:00  2020/03/01 00:00:00+00                  NaN
2020-03-04 00:00:00+00:00  2020/03/02 00:00:00+00                  NaN
2020-03-05 00:00:00+00:00  2020/03/03 00:00:00+00                  NaN
2020-03-06 00:00:00+00:00  2020/03/04 00:00:00+00                  NaN
...                                           ...                  ...
2020-12-26 00:00:00+00:00  2020/12/24 00:00:00+00              84092.0
2020-12-27 00:00:00+00:00  2020/12/25 00:00:00+00              85385.0
2020-12-28 00:00:00+00:00  2020/12/26 00:00:00+00              86129.0
2020-12-29 00:00:00+00:00  2020/12/27 00:00:00+00              86893.0
2020-12-30 00:00:00+00:00  2020/12/28 00:00:00+00              88439.0

[304 rows x 2 columns]

In [11]:
covid_stats.drop(covid_stats.columns[[4, 5]], axis = 1, inplace = True)
covid_stats.head()

,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,HospitalisedCovidCases,TravelAbroad
Date,,,,,,
2020-02-29 00:00:00+00:00,1,1,0,0,NaN,NaN
2020-03-03 00:00:00+00:00,1,2,0,0,NaN,NaN
2020-03-04 00:00:00+00:00,4,6,0,0,NaN,NaN
2020-03-05 00:00:00+00:00,7,13,0,0,NaN,NaN
2020-03-06 00:00:00+00:00,5,18,0,0,NaN,NaN

In [12]:
covid_stats.index = pd.to_datetime(covid_stats.index).date

In [13]:
covid_stats.head()

,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,HospitalisedCovidCases,TravelAbroad
2020-02-29,1,1,0,0,NaN,NaN
2020-03-03,1,2,0,0,NaN,NaN
2020-03-04,4,6,0,0,NaN,NaN
2020-03-05,7,13,0,0,NaN,NaN
2020-03-06,5,18,0,0,NaN,NaN

In [14]:
covid_stats.to_csv('./data/cleaned/covid_stats.csv', sep=',')